@import "tailwindcss";


:root {
  --background: #f9f9f9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #e0e0e0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}
